In [1]:
#  7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: 
#     “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [2]:
#  IMPORTING REQUIRED LABRARIES

import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, TimeoutException
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
import time

In [3]:
#  CONNECTING TO THE DRIVER
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver.exe")

In [4]:
#  OPENING THE FORBES PAGE ON AUTOMATED CHROME BROWSER
driver.get("https://www.forbes.com/")

In [5]:
#  CLICKING SEARCH BUTTON 
search = driver.find_element (By.XPATH,"/html/body/div[1]/header/nav/div[1]/div[1]/div/div[2]/ul/li[2]/div[2]/div[3]/ul/li[1]")
search.click()

In [17]:
#  SCRAPING ALL RANKS DATA
RANKS = []
try:
    rnk = driver.find_elements (By.XPATH,'//div[@class="Table_rank___YBhk Table_dataCell__2QCve"]')
    for i in rnk[0:200]:
        temp = (i.text)
        RANKS.append (temp)
except NoSuchElementException:
        RANKS.append ('-')

In [20]:
# PRINTING LENGHTS OF ELEMENTS
print (len(RANKS))

200

In [27]:
#  SCRAPING ALL NAMES DATA
NAMES = []
try:
    nm = driver.find_elements (By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"]')
    for i in nm[0:200]:
        temp = (i.text)
        NAMES.append (temp)
except NoSuchElementException:
        NAMES.append ('-')

In [30]:
# PRINTING LENGHTS OF ELEMENTS
print (len(NAMES))

200

In [31]:
#  SCRAPING ALL NET WORTH DATA
NET_WORTH = []
try:
    net = driver.find_elements (By.XPATH,'//div[@class="Table_netWorth___L4R5 Table_dataCell__2QCve"]')
    for i in net[0:200]:
        temp = (i.text)
        NET_WORTH.append (temp)
except NoSuchElementException:
        NET_WORTH.append ('-')

In [33]:
# PRINTING LENGHTS OF ELEMENTS
print (len(NET_WORTH))

200

In [41]:
#  SCRAPING ALL AGE DATA
AGE = []
try:
    ag = driver.find_elements (By.XPATH,'//div[@class="Table_dataCell__2QCve"]')
    for i in ag[0:200]:
        temp = (i.text)
        AGE.append (temp)
except NoSuchElementException:
        AGE.append ('-')

In [43]:
# PRINTING LENGHTS OF ELEMENTS
print (len(AGE))

200

In [44]:
#  SCRAPING ALL CITIZENSHIP  DATA
CITIZENSHIP = []
try:
    stz = driver.find_elements (By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"]')
    for i in stz[0:200]:
        temp = (i.text)
        CITIZENSHIP.append (temp)
except NoSuchElementException:
        CITIZENSHIP.append ('-')

In [47]:
# PRINTING LENGHTS OF ELEMENTS
print (len(CITIZENSHIP ))

200

In [50]:
#  SCRAPING ALL SOURCE   DATA
SOURCE = []
try:
    cur = driver.find_elements (By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"]')
    for i in cur[0:200]:
        temp = (i.text)
        SOURCE.append (temp)
except NoSuchElementException:
        SOURCE.append ('-')

In [51]:
# PRINTING LENGHTS OF ELEMENTS
print (len(SOURCE ))

200

In [52]:
#  SCRAPING ALL INDUSTRY    DATA
INDUSTRY = []
try:
    ind = driver.find_elements (By.XPATH,'//div[@class="Table_dataCell__2QCve"]')
    for i in ind[0:200]:
        temp = (i.text)
        INDUSTRY.append (temp)
except NoSuchElementException:
        INDUSTRY.append ('-')

In [53]:
# PRINTING LENGHTS OF ELEMENTS
print (len(SOURCE ))

200

In [54]:
#  MAKING DATA FRAME AND DISPLAY IN DATA FRAME FORMAT
df = pd.DataFrame ({'RANKS':RANKS,'NAMES':NAMES,'NET_WORTH':NET_WORTH,'AGE':AGE,'CITIZENSHIP':CITIZENSHIP,'SOURCE':SOURCE})
df

,RANKS,NAMES,NET_WORTH,AGE,CITIZENSHIP,SOURCE
0,1,1,$211 B,Bernard Arnault & family,1,1
1,2,Bernard Arnault & family,$180 B,74,Bernard Arnault & family,Bernard Arnault & family
2,3,$211 B,$114 B,LVMH,$211 B,$211 B
3,4,74,$107 B,Fashion & Retail,74,74
4,5,France,$106 B,Elon Musk,France,France
...,...,...,...,...,...,...
195,195,Fashion & Retail,$9.6 B,Finance & Investments,Fashion & Retail,Fashion & Retail
196,195,29,$9.6 B,Stephen Schwarzman,29,29
197,195,Klaus-Michael Kuehne,$9.6 B,76,Klaus-Michael Kuehne,Klaus-Michael Kuehne
198,195,$39.1 B,$9.6 B,Investments,$39.1 B,$39.1 B
199,195,85,$9.6 B,Finance & Investments,85,85